[submodule "internal-youtube-api"]
	path = internal-youtube-api
	url = git@github.com:myvid-co/internal-youtube-api.git
[submodule "website-front"]
	path = website-front
	url = git@github.com:myvid-co/website-front.git
[submodule "converter-api"]
	path = converter-api
	url = git@github.com:myvid-co/converter-api.git
[submodule "processing-api"]
	path = processing-api
	url = git@github.com:myvid-co/processing-api.git
[submodule "website-api"]
	path = website-api
	url = git@github.com:myvid-co/website-api.git
